<section class="list">
  <div class="heading-container">
    <h1><%= folder.name %></h1>
    <p>
      <a class="add-link" href="/posts/create?folderId=<%=folder.id%>">
        <span class="material-symbols-outlined">
          add_2
        </span>
        Add post
      </a>
    </p>
  </div>
  <ul>
    <% if (posts.length > 0) { %>
        <% posts.forEach((post) => { %>
          <%- include("components/lists/postLi.ejs", { item: post, subject: "folders" }); %>
        <% }) %>
        <%- include("components/lists/endLi.ejs"); %>
    <% } else { %>
      <%- include("components/lists/emptyListLi.ejs", { link: `/posts/create?folderId=${folder.id}`, subject: "folders" }); %>
    <% } %>
  </ul>
</section>
<%- include("components/forms/deleteForm.ejs", { subject: "posts" }); %>
<div class="overlay hidden"></div>