<% if (!locals.currentUser) { %>
  <h1>Welcome to Alimenté!</h1>
<% } else { %>
  <h1>Welcome back to Alimenté!</h1>
<% } %>
<div class="overview">
  <div class="sidebar-left">
    <section class="posts">
      <h2>Recent Post</h2>
      <% if (posts.length > 0) { %>
        <ul>
          <% posts.forEach((post) => { %>
            <%- include("./components/lists/postLi.ejs", { item: post, subject: "posts" }); %>
          <% }); %>
          <li>
            <p class="see-all-para">
              <a class="see-all-link" href="/posts">See all posts</a>
            </p>
          </li>
        </ul>
      <% } else { %>
        <%- include("./components/lists/emptyListLi.ejs", { link: "/posts/create", subject: "posts" }); %>
      <% } %>
    </section>
  </div>
  <div class="sidebar-right">
    <% if (locals.currentUser) { %>
      <p class="user-status">You are logged in. Thank you!</p>
    <% } else { %>
      <p class="user-status">You aren't currently logged in.</a></p>
    <% } %>
    <section class="folders">
      <h2>Folders</h2>
      <% if (folders.length > 0) { %>
        <ul class="folders-list">
          <% folders.forEach((folder) => { %>
            <li><a href="/folders/<%=folder.id%>"><%=folder.name%></a></li>
          <% }); %>
          <li>
            <a class="see-all-folders" href="/posts">
              <span class="material-symbols-outlined">
                folder  
              </span>
              See all folders
            </a>
          </li>
        </ul>
      <% } else { %>
        <%- include("./components/lists/emptyListLi.ejs", { link: "/folders/create", subject: "folders" }); %>
      <% } %>
    </section>
    <section class="image-section">
      <h2>Sidebar Image</h2>
      <img class="sidebar-image" src="/images/announcement.png" width="300" alt="Image of an assortment of food from varied cuisines">
    </section>
  </div>
</div>