<section class="list <%=subject%>-list">
  <div class="heading-container">
    <h1>All <%=subject%></h1>
    <p>
      <a class="add-link" href="/<%=subject%>/create">
        <span class="material-symbols-outlined">
          add_2
        </span>
        Add <%= subject === "folders" ? "folder" : "post" %>
      </a>
    </p>
  </div>
  <ul>
    <% if (items.length > 0) { %>
      <% items.forEach((item) => { %>
        <% if (subject === "posts") { %>
          <%- include("components/lists/postLi.ejs", { item: item, subject: subject }); %>
        <% } else { %>
          <%- include("components/lists/folderLi.ejs",  { item: item, subject: subject }); %>
        <% } %>
      <% }); %>
      <%- include("components/lists/endLi.ejs"); %>
    <% } else { %>
      <%- include("components/lists/emptyListLi.ejs", { link: `/${subject}/create`, subject: subject }); %>
    <% } %>
  </ul>
</section>
<%- include("components/forms/deleteForm.ejs", { subject: subject }); %>
<form action="<%= locals.action %>" method="POST" class="share-form <%= locals.errors ? "" : "hidden" %>">
  <h1>Share folder?</h1>
  <span class="error share-form-error" role="alert" aria-live="polite">
    <%= locals.errors?.find((error) => error.path === "duration")?.msg %>
  </span>
  <p>
    <select name="duration" id="duration">
      <option value="day">1 day</option>
      <option value="week">7 days</option>
      <option value="month">31 days</option>
    </select>
  </p>
  <div class="button-options">
    <button type="button" class="form-cancel-button">Cancel</button>
    <button type="button" class="form-share-button">Share</button>
  </div>
</form>
<div class="link-container hidden">
  <h1>Here is your link!</h1>
  <p class="link-para"></p>
  <div class="button-options">
    <button type="button" class="link-dismiss-button">Dismiss</button>
  </div>
</div>
<div class="overlay hidden"></div>