<section class="list">
  <div class="heading-container">
    <h1>All <%=subject%></h1>
    <p>
      <a class="add-link" href="/<%=subject%>/create">
        <span class="material-symbols-outlined">
          add_2
        </span>
        Add post
      </a>
    </p>
  </div>
  <% if (items.length > 0) { %>
    <ul>
      <% items.forEach((item) => { %>
        <li>
          <h2><a href="/<%=subject%>/<%=item.id%>"><%= item.name %></a></h2>
          <div class="images-container">
            <% item.files.forEach((file) => { %>
              <img src="<%=file.url%>" width="900" height="400" alt="<%=item.name%> image">
            <% }); %>
            <div class="images-options hidden">
              <button aria-label="Previous image">
                <span class="material-symbols-outlined arrow-back">
                  arrow_back_ios
                </span>
              </button>
              <button aria-label="Next image">
                <span class="material-symbols-outlined arrow-forward">
                  arrow_forward_ios
                </span>
              </button>
            </div>
          </div>
          <div class="list-options hidden">
            <% if (subject === "folders") { %>
              <a href="/<%=subject%>/edit/<%=item.id%>">
                <span class="material-symbols-outlined">
                  edit
                </span>
              </a>
              <button type="button" class="share-button" data-id="<%=item.id%>" data-subject="<%=subject%>">
                <span class="material-symbols-outlined">
                  share
                </span>
              </button>
            <% } %>
            <button type="button" class="delete-button" data-id="<%=item.id%>">
              <span class="material-symbols-outlined">
                delete
              </span>
            </button>
          </div>
        </li>
      <% }) %>
      <li class="end-li">
        <p>
          <span>End of list</span>
        </p>
      </li>
    </ul>
  <% } else { %>
    <p>
      No <%=subject%> yet!
      <a href="/<%=subject%>/create">
        Add one today!
      </a>
    </p>
  <% } %>
</section>
<form action="" method="POST" class="delete-form hidden">
  <h1>Delete form?</h1>
  <p>This action cannot be undone, so please proceed with caution.</p>
  <div class="button-options">
    <button type="button" class="form-cancel-button">Cancel</button>
    <button type="submit" class="form-delete-button">Delete</button>
  </div>
</form>
<form action="<%= locals.action %>" method="POST" class="share-form <%= locals.errors ? "" : "hidden" %>">
  <h1>Share folder</h1>
  <span class="error share-form-error" role="alert" aria-live="polite">
    <%= locals.errors?.find((error) => error.path === "duration")?.msg %>
  </span>
  <p>
    <select name="duration" id="duration">
      <option value="day">1 day</option>
      <option value="week">7 days</option>
      <option value="month">31 days</option>
    </select>
  </p>
  <div class="button-options">
    <button type="button" class="form-cancel-button">Cancel</button>
    <button type="button" class="form-share-button">Share</button>
  </div>
</form>
<div class="link-container hidden">
  <h1>Here is your link</h1>
  <p class="link-para"></p>
</div>
<div class="overlay hidden"></div>