<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All <%=subject%></title>
  <link rel="stylesheet" href="/css/list.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete,edit,share" />
  <script src="/js/list.js" defer></script>
</head>
<body>
  <% if (items.length > 0) { %>
    <ul>
      <% items.forEach((item) => { %>
        <li>
          <a href="/<%=subject%>/<%=item.id%>"><%= item.name %></a>
          <% if (subject === "folders") { %>
            <a href="/<%=subject%>/edit/<%=item.id%>">
              <span class="material-symbols-outlined">
                edit
              </span>
            </a>
            <button type="button" class="share-button" data-id="<%=item.id%>" data-subject="<%=subject%>">
              <span class="material-symbols-outlined">
                share
              </span>
            </button>
          <% } %>
          <button type="button" class="delete-button" data-id="<%=item.id%>">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
        </li>
      <% }) %>
      <li>
        <a href="/<%=subject%>/create">
          Add
        </a>
      </li>
    </ul>
  <% } else { %>
    <p>
      No <%=subject%> yet!
      <a href="/<%=subject%>/create">
        Add one today!
      </a>
    </p>
  <% } %>
  <form action="" method="POST" class="delete-form hidden">
    <h1>Delete form?</h1>
    <p>This action cannot be undone, so please proceed with caution.</p>
    <button type="submit">Delete</button>
  </form>
  <form action="<%= locals.action %>" method="POST" class="share-form <%= locals.errors ? "" : "hidden" %>">
    <h1>Share folder</h1>
    <span class="error share-form-error" role="alert" aria-live="polite">
      <%= locals.errors?.find((error) => error.path === "duration")?.msg %>
    </span>
    <p>
      <select name="duration" id="duration">
        <option value="day">1 day</option>
        <option value="week">7 days</option>
        <option value="month">31 days</option>
      </select>
    </p>
    <button type="button" class="share-form-submit">share</button>
  </form>
  <div class="link-container hidden">
    <h1>Here is your link</h1>
    <p class="link-para"></p>
  </div>
</body>
</html>