<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All <%=subject%></title>
  <link rel="stylesheet" href="/css/list.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete,edit" />
  <script src="/js/list.js" defer></script>
</head>
<body>
  <% if (items.length > 0) { %>
    <ul>
      <% items.forEach((item) => { %>
        <li>
          <a href="/<%=subject%>/<%=item.id%>"><%= item.name %></a>
          <a href="/<%=subject%>/update/<%=item.id%>">
            <span class="material-symbols-outlined">
              edit
            </span>
          </a>
          <button type="button" class="delete-button" data-id="<%=item.id%>" data-subject="<%=subject%>">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>
      No <%=subject%> yet!
      <a href="/<%=subject%>/create">
        Add one today!
      </a>
    </p>
  <% } %>
  <form action="" method="POST" class="delete-form hidden">
    <h1>Delete form?</h1>
    <p>This action cannot be undone, so please proceed with caution.</p>
    <button type="submit">Delete</button>
  </form>
</body>
</html>