<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script src="/js/uploadForm.js" defer></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=delete" />
</head>
<body>
  <form action="/posts/create" method="POST" enctype="multipart/form-data" novalidate>
  <h1><%= title %></h1>
  <section>
    <p>
      <label for="name">Restaurant</label>
      <input type="text" name="name" id="name" maxlength="255" value="<%= locals.previousValues?.name %>" required>
      <span class="error" role="alert" aria-live="polite">
        <%= locals.errors?.find((error) => error.path === "name")?.msg %>
      </span>
    </p>
    <p>
      <label for="images">Files</label>
      <input type="file" name="images" id="images" multiple="true" accept="image/png, image/jpeg" required>
      <span class="images-previews">

      </span>
      <span class="files-counter">
        <span class="file-count">0</span>/8 files
      </span>
      <span class="error file-input-error" role="alert" aria-live="polite">
        <%= locals.errors?.find((error) => error.path === "images")?.msg %>
      </span>
    </p>
    <p>
      <label>Folder</label>
      <select name="folderId" id="folder-select">
        <option value="">-- None --</option>
        <% folders.forEach((folder) => { %>
          <option value="<%=folder.id%>" <%= (locals.previousValues?.folderId === folder.id) ? "selected" : "" %>>
            <%=folder.name%>
          </option>
        <% }) %>
      </select>
      <span class="error" role="alert" aria-live="polite">
        <%= locals.errors?.find((error) => error.path === "folder")?.msg %>
      </span>
    </p>
  </section>
  <section>
    <button type="submit">Upload</button>
  </section>
</form>
</body>
</html>